/******************** TOOLS ********************/
.TEST {
    border: 1px solid blue;
  }
  
  /******************** BODY ********************/
  body {
    background-color: black;
    color: white;
    margin: 0;
    padding: 0;
    font-weight: 348;
    width: 100%;
    font-family: sans-serif;
  }  
  body a:not(#articlesp2 a) {
    white-space: nowrap;
  }

  @keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  
  body {
    animation: fadeIn 0.5s ease-in-out;
  }
  
  /* HIGHLIGHITNG */
  .header-logo img::selection,
  .has-submenu::selection,
  .has-submenu span::selection,
  .submenu a::selection,
  .about::selection,
  .search a::selection,
  #footerlogo img::selection,
  img::selection,
  br::selection
  {
    background-color: transparent;
  }
  h1::selection,
  td::selection,
  td a::selection,
  td span::selection,
  .filter-sort-btn::selection,
  .text-btn::selection,
  .text-btn span::selection,
  #reset-topic-filter::selection,
  #topic-container::selection,
  .search-input::selection,
  .topic-box::selection,
  label::selection,
  .count-parentheses::selection,
  #no-results-message::selection,
  .dataTables_paginate li::selection,
  .dataTables_info::selection  {
    background-color: black;
    color:white;
  }

  .search-text::selection,
  #apply-topic-filter::selection,
  .f-submenu a::selection,
  .footer-bot h2::selection,
  .footer-bot a::selection,
  .f-has-submenu::selection,
  .footer-bot span::selection,
  .footer-bot b::selection{
    background-color: white;
    color:black;
  }
  
  /********************HEADER********************/
  #wrap {    
    height: 110px;
  }
  .header-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }
  /* HEADER */
  header {
    position: fixed;
    background-color: white;
    justify-content: space-between;
    display: flex;
    align-items: center;
    height: 80px;
    padding: 0 25px;
    font-size: 18.5px;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
  }
  /* LOGO */
  .logo {
    width: 80px;
    margin-right: 0px;
    margin-left: -15px;
    transition: opacity 0.2s;
    position: absolute;
    top: 46%;
    transform: translateY(-50%);
  }
  /* NAVIGATION */
  .nav {
    list-style-type: none;
    display: flex;
    margin-left: 40px;
  }
  .nav li {
    display: inline;
    padding: 10px;
    margin: 15px;
    margin-left: 0;
    position: relative;
  }
  .nav a {
    text-decoration: none;
    color: var(--text-color);
    display: inline-block; 
  }
  .has-submenu::after {
    content: "▾";
    font-family: monospace;
    display: inline-block;
    transition: transform 0.2s; /* Optional: add a smooth transition */
  }
  
  .has-submenu.active::after {
    transform: rotate(-180deg);
    transform-origin: center center;
  }
  .about:hover {
    border-bottom: 1.5px solid black;
  }
  .has-submenu:hover .link-text, .has-submenu.active .link-text {
    border-bottom: 1.5px solid black;
  }
  .submenu a:hover {
    border-bottom: 1.5px solid black;
  }
  .submenu {
    display: none;
    margin: 0;
    padding: 0;
    padding-left: 10px;
    padding-right: 33%;
    margin-top: 28px;
    text-align: left;
    height: auto; 
    width: 148px;
    position: absolute;
    background-color: white;
    left: -0px;
  }
  .submenu li {
    padding: 0;
    margin: 0;
  }
  .submenu li a {
    margin-bottom: 8px;
    border-bottom: 1.5px solid transparent;
  }
  /* SEARCH*/
  .search {
    text-align: right;
  }
  .search a {
    display: block;
    text-decoration: none;
    color: var(--text-color);
    border-top: 1.5px solid transparent; /* add transparent border top to avoid moving the word */
  }
  :root {
    --text-color: black;
    --text-color-scrolled: black;
    --submenu-bg-color: transparent;
    --submenu-bg-color-scrolled: white;
  }
  .about:hover,
  .has-submenu:hover .link-text,
  .has-submenu.active .link-text,
  .submenu a:hover,
  .search a:hover {
    border-bottom: 1.5px solid var(--text-color);
  }
  
  /*transition */
  #header, .submenu {
    transition: background-color 0.2s ease-out;
  }
  .header a, .header span {
    transition: color 0.2s ease-out;
  }
  #logo1, #logo2 {
    transition: opacity 0.2s ease-out;
  }
  
  /********************FOOTER********************/
  /* FOOTER */
  footer {
    display: block;
    align-items: flex-start;
    padding: 100px 25px;
    font-size: 18px;
    padding-bottom: 0;
    padding-bottom: 80px;
  }
  #f-logo-nav {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
  .footer-right-menu {
    justify-content: right;
  }
  /*LOGO*/
  #footerlogo img {
    width: 80px;
    margin-top: -14px; /* move the logo up by 10px */
    margin-left: -15px;
    flex: 1;
  }
  /* MENU */
  .footer-menu {
    list-style: none;
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
  }
  .footer-menu li {
    position: relative;
    margin: 0;
  }
  .footer-menu a {
    text-decoration: none;
    color: white;
  }
  /* SUBMENU */
  .f-has-submenu:hover .f-submenu { /* fix submenu disappearing issue */
    display: block;
  }
  .f-submenu li { /* fix submenu alignment issue */
    text-align: left;
  }
  .f-has-submenu{
    font-weight: bold;
  }
  .f-submenu {
    list-style: none;
    padding: 0;
    margin-top: 5px;
    position: absolute;
    left: 0;
    top: 100%;
  }
  .f-submenu li {
    margin: 0;
    white-space: nowrap; /* to display submenus in 1 line*/
  }
  
  #f-biglist {
    padding-right: 50px;
  }
  .f-submenu li:not(:last-child) {
    margin-bottom: 4px;
  }
  .f-submenu li a:hover {
    border-bottom: 1.5px solid white;
  }
  .footer-bot {
    margin-top: 150px;
    border-top: 1px solid white;
    display: flex;
    align-items: flex-start;
    margin-right: auto;
  }
  .footer-bot h2 {
    font-size: 20px;
    font-weight: 350;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-top: 5px;
    margin-right: 23%;
  }
  .footer-bot a {
    text-decoration: none;
    color: white;
    margin-top: 5px;
  }
  .footer-bot a:hover > span {
    border-bottom: 1.5px solid white;
  }

  /**********************MY ARTICLES**********************/
.myarticles{
  background: white;
  color: black;
  padding: 0 25px;
  padding-top: 230px;
  padding-bottom: 70px;
}
/* INTRO = search bar*/
.intro {
  padding-bottom: 100px;
  margin-bottom: 5px;
  border-bottom: 1.5px solid #ccc;
  height: 100%;
}
h1 {
  font-size: 68px;
  font-weight: 350;
  margin: 0;
  margin-bottom: 60px;
}
.searchbar-container {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  gap: 15px; /* Adjust the value as needed */
}
.search-input {
  width: 100%;
  height: 35px;
  padding: 6px 12px;
  border: 1px solid #ccc;
  font-size: 18px;
  font-family: sans-serif;
  font-weight: 200;
}
.search-input::placeholder {
  color: rgb(128, 128, 128,0.7); /* Replace this with your desired color */
}
.search-input::-moz-placeholder { /* Mozilla Firefox 19+ */
  color: grey;
  opacity: 0.7; /* Firefox sets the placeholder opacity to 0.54 by default, so we need to override it */
}
.search-input:hover {
  border-color: black;
}
.search-input:focus {
  outline: none;
  border-color: black;
  border-radius: 0;
}
.search-button {
  width: 20%;
  margin-left: 10px;
  background-color: black;
  font-size: 18px;
  font-family: sans-serif;
  font-weight: 200;
  color: white;
  cursor: pointer;
  border: none;
}
.search-button:hover {
  background-color: white;
  color: black;
  border: 1px solid black;
}

/********************TABLE****************/
/*Table Cont*/
.Table-container{
  padding-top: 0;
  margin-top: 0;
}
table.dataTable {
  width: 100% !important;
}
/* SETTINGS FILTER / SORT */
.fil-symb {
  margin-left: 6px; /* Add space between the button and the logo */
  width: 20px; /* Adjust the width of the logo as needed */
  height: 20px; /* Adjust the height of the logo as needed */
  cursor: pointer;
  margin-top: 0;
  padding-top: 0;
}
.sort-fil-cont {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}
.sort-settings-container {
  display: none;
  flex-direction: column;
  align-items: center;
  padding-top: 18px;
}
#apply-topic-filter, #reset-topic-filter {
  display: none;
}
.row {
  display: flex;
  width: 100%;
  margin-bottom: 10px;
}
#app-res {
  padding-top: 30px;
  padding-bottom: 40px;
}
/* Add this CSS */
.left-items {
  display: flex;
  gap: 25px; /* Add the gap between the elements */
  width: 30%;
}
.right-item {
  margin-left: auto; /* Push the element to the right */
}
.text-btn {
  cursor: pointer;
  font-size: 18px;
  font-weight: normal;
}

#filter-by-topic::after {
  content: "▾";
  font-family: monospace;
  display: inline-block;
  transition: transform 0.2s; /* Optional: add a smooth transition */
  margin-left: 5px;
}

#filter-by-topic.active::after {
  content: "▾";
  transform: rotate(-180deg);
  transform-origin: center center;
  margin-left: 5px;
}
#filter-by-topic:hover >.underline-just-you {
  border-bottom: 1.5px solid black;
}
.filter-sort-btn {
  cursor: pointer;
  font-weight: normal;
  font-size: 18px;
  font-weight: bold;
  padding-top: 5px;
}
.filter-sort-btn:hover {
  background-color: transparent;
  color: inherit;
}
.btn {
  background-color: black;
  color: white;
  border: 1px solid black;
  cursor: pointer;
  padding: 10px 20px;
  font-size: 18px;
  font-weight: 200;
  font-family: sans-serif;
  width: 100%;
  height: 47px;
}
.btn:hover {
  background-color: white;
  color: black;
}
#reset-topic-filter {
  background-color: white;
  color: black;
}
#reset-topic-filter:hover {
  background-color: black;
  color: white;
}

/* checkbox menu*/
#topic-container {
  display: flex;
  flex-wrap: wrap;
  margin-top: 26px;
  font-size: 18px;
  font-weight: normal;
  margin-bottom: 20px;
}
.count-parentheses {
  color: grey;
  opacity: 0.9;
}
.topic-box {
  display: inline-block;
  width: 24%; /* Set width to 25% to make 4 columns */
  box-sizing: border-box; /* To include padding in the width calculation */
  margin-bottom: 5px; /* Remove margin at the bottom */
  text-align: left; /* Align text to the left */
  white-space: nowrap; /* Prevent topic names from wrapping */
  overflow: hidden; /* Hide any overflowing text */
}
.topic-checkbox {
  display: inline-block;
  margin-right: 3px;
  vertical-align: middle; /* Align the checkbox vertically in the middle */
  border-radius: 0;
}
label {
  display: inline-block;
  vertical-align: middle; /* Align the label vertically in the middle */
}
.topic-label {
  display: block;
}
.topic-box label, .topic-box input[type="checkbox"] {
  cursor: pointer;
}
/* Style the checkboxes */
.topic-box input[type="checkbox"] {
  width: 14px;
  height: 14px;
  margin-right: 7px;
  appearance: none;
  outline: none;
  background-color: white;
  border: 2.2px solid #000;
  border-radius: 0;
}

/* Style the checkboxes when checked */
.topic-box input[type="checkbox"]:checked {
  background-color: #000;
}

/* Selected & applied checkboxes */
.selected-topic {
  display: inline-block;
  margin-right: 30px;
  margin-top: 10px;
  margin-bottom: 40px;
}

.selected-topic-checkbox {
  appearance: none;
  background-color: black;
  border: 1px solid black;
  border-radius: 0;
  width: 14px;
  height: 14px;
  margin-left: 0;
  margin-right: 5px;
  cursor: pointer;
  vertical-align: middle; /* Add this property */
  margin-left: 4px; /* Add this property */

}
.selected-topic label {
  font-size: 18px;
  cursor: pointer;
  font-weight: normal;
}

/* My Table */
#myTable {
  width: 100%;
  border-collapse: separate;
  border-spacing: 0;
  padding-bottom: 100px;
  border-bottom: 1px solid black;
  margin-bottom: 0;
}
#myTable td {
  height: 52px;
  font-size: 18px;
  font-weight: normal;
  white-space: normal !important;
}

#myTable td:nth-child(1) {
  white-space: nowrap;
}
.incom-art {
  color: grey;
  cursor: pointer;
}
.incomming-word {
  font-weight: bold;
}
#myTable td a {
  text-decoration: none;
  color: black;
}
#myTable td a:hover {
  border-bottom: 1px solid black;
}
 /* Set the column widths */
 #myTable td:nth-child(1) {
  width: 18%;
}
#myTable td:nth-child(2) {
  width: 67%;
}
#myTable td:nth-child(3) {
  width: 20%;
}
/* Set the row height and font size */
#myTable tr {
  font-size: 18px;
  font-weight: normal;
}
/* Set relative positioning context for the ::after pseudo-element */
#myTable tbody tr {
  position: relative;
}
/* Add horizontal borders between rows using the ::before pseudo-element */
#myTable tbody tr::before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  border-top: 1px solid black;
}
/* Add a trait at the bottom of the first row */
#myTable tbody tr:first-child::before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: -1px; /* move border up by 1px to overlap with existing border */
  border-top: 1px solid black; /* set border style and color */
}

/****** TABLE FOOTER ******/
/* Make the pagination controls and the "Showing x to y of z entries" text appear in the same row */
.dataTables_wrapper .dataTables_info,
.dataTables_wrapper .dataTables_paginate {
    display: inline-block;
    vertical-align: middle;
}
/* Remove the bullet points and display the pagination elements (Previous and Next) on the same line */
.dataTables_paginate ul.pagination {
    list-style-type: none;
    padding-left: 0;
    padding-top: 5px;
    margin-top: 5px;
}
.dataTables_paginate ul.pagination li {
    display: inline;
}
/* Hide page numbers */
.dataTables_paginate .paginate_button.current,
.dataTables_paginate .paginate_button:not(.previous):not(.next) {
    display: none;
}
/* Add space between "Previous" and "Next" */
.dataTables_paginate ul.pagination > li + li {
    margin-left: 1rem;
}
/* Add space between "Showing x to y of z entries" and pagination controls */
.dataTables_info {
    margin-right: 15%;
}
/* Set font size and font weight for the pagination row */
.dataTables_paginate,
.dataTables_info {
  font-size: 18px;
  font-weight: normal;
}
.dataTables_paginate {
  cursor: pointer;
}
/******IF NO RESULTS DURING RESEARCH*****/
.dataTables_empty {
  font-weight: bold;
  font-size: larger;
}
#no-results-message {
  font-size: 26px;
  font-weight: bold;
}


  /**********************MEDIA QUERY**********************/
  /*HEADER - CSS*/
  .scroll-to-bottom {
    display: none; /* Hide the 'scroll-to-bottom' link by default */
    text-decoration: none;
    color: var(--text-color);
    display: none; /* Hide the 'scroll-to-bottom' link by default */
    position: absolute; /* Set the link position to absolute */
    top: 50%; /* Position the link vertically in the center */
    left: 50%; /* Position the link horizontally in the center */
    transform: translate(-50%, -50%); /* Adjust the link position relative to its own size */
  }
  /* HEADER*/
  @media (max-width: 980px) {
    .nav {
      display: none; /* Hide all list items */
    }
    .scroll-to-bottom {
      display: block; /* Show the 'scroll-to-bottom' link */
      top: 46%;
    }
    /*
    .scroll-to-bottom:hover .VM-only-underline {
      border-bottom: 1.5px solid var(--text-color);
    }
    .scroll-to-bottom::after {
      content: "▾";
      margin-right: 5px;
      font-family: monospace;
    }
    */
  }
  /* FOOTER */
  @media (max-width: 980px) {
    .footer-menu, .f-submenu {
    display: block;
    }
    .f-submenu {
      position: static; /* Remove the absolute positioning for the submenu */
    }
    .footer-menu > li { /* Add space between main menu items */
      margin-bottom: 100px;
    }
  }

  /* Intro = Search bar */
  @media (max-width: 980px) {
    .search-button {
      margin: 0;
      background-color: white;
      border: 1px solid #ccc;
      border-left: none;
      width: 54px;
    }
    .search-input {
      border-right: none;
      border-radius: 0;
    }
    .search-button .search-text {
      display: none;
    }
    .search-button::after {
      content: "";
      display: block;
      width: 30px;
      height: 30px;
      background-image: url("../media/Images/symbols/magnifier/1.png");
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
      margin: 0 auto;
    }
    .search-button:hover::after {
      background-image: url("../media/Images/symbols/magnifier/2.png");
    }
    .searchbar-container {
      width: 100%;
      display: flex;
      justify-content: flex-start;
      gap: 0; /* Set the gap to 0 to remove the space between elements */
    }
    .search-button:hover {
      background-color: black;
      color: white;
    }
  .search-button .search-text {
      display: none;
    }
    .search-input:hover,
    .search-input:hover + .search-button {
      /* Your hover effect styles go here */
      border-color:black; /* Example: change the background color */
    }
    .search-input:focus,
    .search-input:focus + .search-button {
    /* Your hover effect styles go here */
    border-color:black; /* Example: change the background color */
    }
  }
  
  /* FILTER & SORT */
  @media (max-width: 980px) {
    .row {
      flex-direction: column;
    }

  .topic-box {
  width: 100%;
  }

.left-items{
  display: block;
  width: 100%;
}
.left-items > * {
  margin-bottom: 20px; /* Add desired space between elements */
  width: 100%;
}

.left-items > *:last-child {
  margin-bottom: 0; /* Remove margin-bottom from the last child */
}
  }


/* Media query */
@media (max-width: 980px) {
  /* Hide the first and last columns */
  #myTable td:nth-child(3),
  #myTable td:nth-child(4) {
    display: none;
  }

  /* Make the second column take the full width */
  #myTable td:nth-child(2) {
    width: 100%;
  }

  /* Adjust the display of table rows and cells */
  #myTable tr {
    display: flex;
    flex-direction: column;
  }

  /* Add space between the first and second columns */
  #myTable td:nth-child(2) {
    margin-top: 10px;
    padding: 0;
    margin: 0;
    white-space: normal !important;
  }
  #myTable td, #myTable td a{
    white-space: normal !important;
  }
  #myTable td:nth-child(1) {
    white-space: nowrap;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 0;
    margin-bottom: 0;
  }
  }