/******************** TOOLS ********************/
.TEST {
    border: 1px solid #0000FF;
  }
  
  /******************** BODY ********************/
  body, h1 {
    background-color: #FFF1D6;
    color: #0000FF;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    font-weight: 348;
    width: 100%;
  }  
  body a:not(#articlesp2 a) {
    white-space: nowrap;
  }

  @keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  
  body {
    animation: fadeIn 0.5s ease-in-out;
  }
  
  /* HIGHLIGHITNG */
.header-logo img::selection,
.has-submenu::selection,
.has-submenu span::selection,
.submenu a::selection,
.about::selection,
.search a::selection,
#footerlogo img::selection,
img::selection,
br::selection {
  background-color: transparent;
}
.intro::selection,
h1::selection,
.intro-sum::selection,
.intro a::selection,
.f-submenu a::selection,
.footer-bot h2::selection,
.footer-bot a::selection,
.f-has-submenu::selection,
.footer-bot span::selection,
.footer-bot b::selection{
  background-color: #0000FF;
  color:#FFF1D6;
}
h2::selection,
h3::selection,
h4::selection,
p::selection,
.art-date::selection,
th::selection,
td::selection,
.article-content span::selection,
.article-content a::selection,
.article-content b::selection,
.article-content li::selection{
  background-color: black;
  color: white;
}

  /********************HEADER********************/
  .header-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }
  /* HEADER */
  header {
    position: fixed;
    justify-content: space-between;
    display: flex;
    align-items: center;
    height: 80px;
    padding: 0 25px;
    font-size: 18px;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
  }
  /* LOGO */
  .logo {
    width: 80px;
    margin-right: 0px;
    margin-left: -15px;
    transition: opacity 0.1s;
    position: absolute;
    top: 46%;
    transform: translateY(-50%);
  }
  /* NAVIGATION */
  .nav {
    list-style-type: none;
    display: flex;
    margin-left: 40px;
  }
  .nav li {
    display: inline;
    padding: 10px;
    margin: 15px;
    margin-left: 0;
    position: relative;
    transition: color 0.2s ease-out;
  }
  .nav a {
    text-decoration: none;
    color: var(--text-color);
    display: inline-block; 
    transition: color 0.2s ease-out;
    border-bottom: 1.5px solid transparent; /* add transparent border top to avoid moving the word */
  }
  .has-submenu::after {
    content: "▾";
    font-family: monospace;
    display: inline-block;
    transition: transform 0.2s; /* Optional: add a smooth transition */
  }
  .has-submenu.active::after {
    transform: rotate(-180deg);
    transform-origin: center center;
  }
  .about:hover {
    border-bottom: 1.5px solid #0000FF;
  }
  .has-submenu:hover .link-text, .has-submenu.active .link-text {
    border-bottom: 1.5px solid #0000FF;
  }
  .submenu a:hover {
    border-bottom: 1.5px solid #0000FF;
  }
  .submenu {
    display: none;
    margin: 0;
    padding: 0;
    padding-left: 10px;
    padding-right: 33%;
    margin-top: 28px;
    text-align: left;
    height: auto; 
    width: 148px;
    position: absolute;
    background-color: var(--submenu-bg-color);
    left: -0px;
  }
  .submenu li {
    padding: 0;
    margin: 0;
  }
  .submenu li a {
    margin-bottom: 8px;
    border-bottom: 1.5px solid transparent;
  }
  /* SEARCH*/
  .search {
    text-align: right;
    transition: color 0.2s ease-out;
  }
  .search a {
    display: block;
    text-decoration: none;
    color: var(--text-color);
    transition: color 0.2s ease-out;
    border-bottom: 1.5px solid transparent; /* add transparent border top to avoid moving the word */
  }
  :root {
    --text-color: #0000FF;
    --text-color-scrolled: black;
    --submenu-bg-color: transparent;
    --submenu-bg-color-scrolled: white;
  }
  .about:hover,
  .has-submenu:hover .link-text,
  .has-submenu.active .link-text,
  .submenu a:hover,
  .search a:hover {
    border-bottom: 1.5px solid var(--text-color);
  }
  
/*transition */
#header, .submenu {
  transition: background-color 0.2s ease-out;
}
.header a, .header span, .about {
  transition: color 0.2s ease-out;
}
#logo1, #logo2 {
  transition: opacity 0.2s ease-out;
}

  /********************FOOTER********************/
  /* FOOTER */
  footer {
    display: block;
    align-items: flex-start;
    font-size: 18px;
    padding: 100px 25px;
    padding-bottom: 80px;
  }
  #f-logo-nav {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: 0;
    padding: 0;
  }
  /*LOGO*/
  #footerlogo img {
    width: 80px;
    margin-top: -14px; /* move the logo up by 10px */
    margin-left: -15px;
    flex: 1;
  }
  /* MENU */
  .footer-menu {
    list-style: none;
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
  }
  .footer-menu li {
    margin: 0;
    position: relative;
    padding: 0;
  }

  .footer-menu a {
    text-decoration: none;
    color: #0000FF;
  }
  /* SUBMENU */
  .f-has-submenu:hover .f-submenu { /* fix submenu disappearing issue */
    display: block;
  }
  .f-submenu li { /* fix submenu alignment issue */
    text-align: left;
  }
  .f-has-submenu{
    font-weight: bold;
  }
  .f-submenu {
    list-style: none;
    padding: 0;
    margin-top: 5px;
    position: absolute;
    left: 0;
  }
  .f-submenu li {
    margin: 0;
    white-space: nowrap; /* to display submenus in 1 line*/
  }
  
  #f-biglist {
    padding-right: 50px;
  }
  .f-submenu li:not(:last-child) {
    margin-bottom: 4px;
  }
  .f-submenu li a:hover {
    border-bottom: 1.5px solid #0000FF;
  }
  .footer-bot {
    margin-top: 200px;
    border-top: 1px solid #0000FF;
    display: flex;
    align-items: flex-start;
    margin-right: auto;
  }
  .footer-bot h2 {
    font-size: 20px;
    font-weight: 350;
    margin-top: 5px;
    margin-right: 23%;
  }
  .footer-bot a {
    text-decoration: none;
    color: #0000FF;
    margin-top: 5px;
  }
  .footer-bot a:hover > span {
    border-bottom: 1.5px solid #0000FF;
  }


/****************ARTICLE PAGE********************/
.article {
  background-color: #FFF1D6;
  color: #0000FF;
  }

/**********************INTRO**********************/
.intro {
margin-top: 150px;
padding: 100px 100px;
font-size: 28px;
padding-bottom: 50px;
}
.intro h1 {
font-weight: 350;
font-size: 75px;
}
.intro a {
  text-decoration: none;
  color: #0000FF;
  border-bottom: 1.5px solid #0000FF;
}
.intro a:hover {
  border-bottom: 1.5px solid rgba(0,0,255,0.2);
}
.intro-sum {
  font-size: 18px;
  font-size: 22px;
  font-weight: 348;
  margin-top: 10px;
  margin-bottom: 30px;
}
.intro-pic {
  width: 100%;
}

/************ TRANSITION ***************/
.transition {
  background-color: white;
  color: black;
  padding: 0 25px;
  font-family: 'Cormorant Garamond', serif;
  display: flex;
}
.transi-blank {
  width: 18%;
}

.transition p {
  width: 75%;
  font-size: 60px;
  padding:50px 0px;
}


/*********** ARTICLE CONTENT ****************/
/*STYLE*/
.bgwhite {
  background-color: white;
}
.article-content {
  background-color: white;
  color: black;
  margin-right: 25px;
  margin-left: 25px;
  display: flex;
  font-size: 20px;
  border-top: 1px solid black;
  padding-top: 10px;
  font-family: 'Cormorant Garamond', serif;
  font-size: 23px;
}
.art-date {
width: 18%;
font-size: 20px;
font-family: sans-serif;
}
.art-right {
width: 60%;
}
.art-u-right a {
  text-decoration: none;
  color: black;
  border-bottom: 1.5px solid black;
}
.art-u-right a:hover {
  border-color: rgb(0, 0, 0,0.2);
}

.article-content h3 {
font-size: 27px;
font-family: sans-serif;
padding-top: 100px;
}

/*Table style*/
.my-table {
  border-collapse: separate;
  border-spacing: 0 0px;
  font-family: sans-serif;
  font-size: 18px;
  width: 100%;
}
.my-table th,
.my-table td {
  border-bottom: 0.5px solid rgb(0, 0, 0,0.2);
  padding:5px 10px;
  text-align: left;
  vertical-align: top;
}
.my-table th{
  border-top: 1px solid black;
  height: 30px;
}
.below-cell {
  font-weight: normal;
  font-weight: lighter;
  color: gray;
  font-size: 14px;
}

.art-pic {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

.title-art-pic {
  font-size: 16px;
  font-weight: bold;
  font-family: sans-serif;
  text-align: center;
  margin-top: 0;
  margin-bottom: 5px;
}

.subtitle-pic {
  font-size: 15px;
  text-align: center;
  font-family: sans-serif;
  margin-top: 5px;
  color: grey;
  margin-bottom: 30px;
}

.half60-pic {
  width: 60%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.half90-pic {
  width: 90%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/*List with > symbol */
.stylish-list {
  list-style: none;
  padding: 0;
}

.ccl {
  padding-bottom:100px;
}

.myart-links {
  text-decoration: none;
  color: black;
  border-bottom: 1.5px solid black;
}

.myart-links:hover {
  border-bottom: 1.5px solid rgba(128, 128, 128, 0.4);
}

.article-content ul, ol {
  padding-left: 20px;
}

/**********************MEDIA QUERY********************/
  /*HEADER - CSS*/
.scroll-to-bottom {
    display: none; /* Hide the 'scroll-to-bottom' link by default */
    text-decoration: none;
    color: var(--text-color);
    display: none; /* Hide the 'scroll-to-bottom' link by default */
    position: absolute; /* Set the link position to absolute */
    top: 50%; /* Position the link vertically in the center */
    left: 50%; /* Position the link horizontally in the center */
    transform: translate(-50%, -50%); /* Adjust the link position relative to its own size */
  }
  /* HEADER*/
  @media (max-width: 980px) {
    .nav {
      display: none; /* Hide all list items */
    }
    .scroll-to-bottom {
      display: block; /* Show the 'scroll-to-bottom' link */
      top: 46%;
    }
    /*
    .scroll-to-bottom:hover .VM-only-underline {
      border-bottom: 1.5px solid var(--text-color);
    }
    .scroll-to-bottom::after {
      content: "▾";
      margin-right: 5px;
      font-family: monospace;
    }
    */
  }
  /* FOOTER */
  @media (max-width: 980px) {
    .footer-menu, .f-submenu {
    display: block;
    }
    .f-submenu {
      position: static; /* Remove the absolute positioning for the submenu */
    }
    .footer-menu > li:not(:last-child) { /* Add space between main menu items */
      margin-bottom: 100px;
    }
  }

  /*TABLE*/
@media (max-width: 700px) {
  .my-table {
    font-size: 12px;
    margin: 0;
  }
}
@media (max-width: 980px) {
  .intro h1 {
    font-size: calc(45px + 1.5vw);
  }
  .intro-sum {
    font-size: calc(9px + 1.5vw);
  }
  .art-date {
    font-size: calc(7px + 1.5vw);
  }
  .art-u-right{
    font-size: calc(7px + 1.5vw);
  }
  .article img {
    width: 100%;
  }
  .article li {
    font-size: calc(10px + 1vw);
  }
  .article h3 {
    font-size: calc(12px + 1.5vw);
  }
  .article p {
    font-size: calc(12px + 1vw);
  }
  .transition p {
    font-size: calc(22px + 1.5vw);
  }
}
