/******************** TOOLS ********************/
.TEST {
    border: 1px solid #0000FF;
  }
  
  /******************** BODY ********************/
  body, h1 {
    background-color: #FFF1D6;
    color: #0000FF;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    font-weight: 348;
    width: 100%;
  }  
  body a:not(#articlesp2 a) {
    white-space: nowrap;
  }
  
  
  /********************HEADER********************/
  #wrap {    
    height: 110px;
  }
  .header-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }
  /* HEADER */
  header {
    position: fixed;
    justify-content: space-between;
    display: flex;
    align-items: center;
    height: 80px;
    padding: 0 25px;
    font-size: 19px;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
    transition: background-color 0.1s;
  }
  /* LOGO */
  .logo {
    width: 80px;
    margin-right: 0px;
    margin-left: -15px;
    transition: opacity 0.1s;
    position: absolute;
    top: 46%;
    transform: translateY(-50%);
  }
  /* NAVIGATION */
  .nav {
    list-style-type: none;
    display: flex;
    margin-left: 40px;
  }
  .nav li {
    display: inline;
    padding: 10px;
    margin: 15px;
    margin-left: 0;
    position: relative;
  }
  .nav a {
    text-decoration: none;
    color: var(--text-color);
    display: inline-block; 
  }
  .has-submenu::after {
    content: "▾";
    margin-right: 0px;
    font-family: monospace;
  }
  .has-submenu.active::after {
    content: "▹";
    margin-right: 0px;
    font-family: monospace;
  }
  .about:hover {
    border-bottom: 1px solid #0000FF;
  }
  .has-submenu:hover .link-text, .has-submenu.active .link-text {
    border-bottom: 1px solid #0000FF;
  }
  .submenu a:hover {
    border-bottom: 1px solid #0000FF;
  }
  .submenu {
    display: none;
    margin: 0;
    padding: 0;
    padding-left: 10px;
    padding-right: 25px;
    margin-top: 26px;
    text-align: left;
    height: auto; 
    width: 148px;
    position: absolute;
    background-color: var(--submenu-bg-color);
    transition: background-color 0.1s;
    left: -0px;
  }
  .submenu li {
    padding: 0;
    margin: 0;
  }
  .submenu li a {
    margin-bottom: 8px;
    border-bottom: 1px solid transparent;
  }
  /* SEARCH*/
  .search {
    text-align: right;
  }
  .search a {
    display: block;
    text-decoration: none;
    color: var(--text-color);
  }
  :root {
    --text-color: #0000FF;
    --text-color-scrolled: black;
    --submenu-bg-color: transparent;
    --submenu-bg-color-scrolled: white;
  }
  .about:hover,
  .has-submenu:hover .link-text,
  .has-submenu.active .link-text,
  .submenu a:hover,
  .search a:hover {
    border-bottom: 1px solid var(--text-color);
  }
  
  /********************FOOTER********************/
  /* FOOTER */
  footer {
    display: block;
    align-items: flex-start;
    padding: 100px 25px;
    font-size: 18px;
    padding-bottom: 100px;
  }
  #f-logo-nav {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
  .footer-right-menu {
    justify-content: right;
  }
  /*LOGO*/
  #footerlogo img {
    width: 80px;
    margin-top: -14px; /* move the logo up by 10px */
    margin-left: -15px;
    flex: 1;
  }
  /* MENU */
  .footer-menu {
    list-style: none;
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
    margin-right: 15px;
    padding-right: 100px;
  }
  .footer-menu li {
    margin: 0 20px;
    position: relative;
    padding-right: 100px;
  }
  .footer-menu a {
    text-decoration: none;
    color: #0000FF;
  }
  /* SUBMENU */
  .f-has-submenu:hover .f-submenu { /* fix submenu disappearing issue */
    display: block;
  }
  .f-submenu li { /* fix submenu alignment issue */
    text-align: left;
  }
  .f-has-submenu{
    font-weight: bold;
  }
  .f-submenu {
    list-style: none;
    padding: 0;
    margin-top: 5px;
    position: absolute;
    left: 0;
    top: 100%;
  }
  .f-submenu li {
    margin: 0;
    white-space: nowrap; /* to display submenus in 1 line*/
  }
  
  #f-biglist {
    padding-right: 50px;
  }
  .f-submenu li:not(:last-child) {
    margin-bottom: 4px;
  }
  .f-submenu li a:hover {
    border-bottom: 1px solid #0000FF;
  }
  .footer-bot {
    margin-top: 220px;
    border-top: 1px solid #0000FF;
    display: flex;
    align-items: flex-start;
    margin-right: auto;
  }
  .footer-bot h2 {
    font-size: 18px;
    font-weight: 350;
    margin-top: 5px;
    margin-right: 23%;
  }
  .footer-bot a {
    text-decoration: none;
    color: #0000FF;
    margin-top: 5px;
  }
  .footer-bot a span:hover {
    border-bottom: 1px solid #0000FF;
  }


/****************ARTICLE PAGE********************/
.article {
  background-color: #FFF1D6;
  color: #0000FF;
  }

/**********************INTRO**********************/
.intro {
margin-top: 200px;
padding: 100px 100px;
font-size: 28px;
padding-bottom: 50px;
}
.intro h1 {
font-weight: 350;
font-size: 75px;
}
.intro a {
  text-decoration: none;
  color: #0000FF;
  border-bottom: 1px solid #0000FF;
}
.intro a:hover {
  border-bottom: 1px solid rgba(0,0,255,0.3);
}
.intro-sum {
  font-size: 18px;
  font-size: 22px;
  font-weight: 348;
  margin-top: 10px;
  margin-bottom: 30px;
}
.intro-pic {
  width: 100%;
}

/************ TRANSITION ***************/
.transition {
  background-color: white;
  color: black;
  padding: 0 25px;
  font-family: 'Cormorant Garamond', serif;
  display: flex;
}
.transi-blank {
  width: 18%;
}

.transition p {
  width: 75%;
  font-size: 60px;
  padding:50px 0px;
}


/*********** ARTICLE CONTENT ****************/

.bgwhite {
  background-color: white;
}
.article-content {
  background-color: white;
  color: black;
  margin-right: 25px;
  margin-left: 25px;
  display: flex;
  font-size: 20px;
  border-top: 1px solid black;
  padding-top: 10px;
  font-family: 'Cormorant Garamond', serif;
  font-size: 23px;
}
.art-date {
width: 18%;
font-size: 20px;
font-family: sans-serif;
}
.art-right {
width: 60%;
}

.article-content h3 {
font-size: 27px;
font-family: sans-serif;
padding-top: 100px;
}

.my-table {
  border-collapse: separate;
  border-spacing: 0 0px;
  font-family: sans-serif;
  font-size: 18px;
  width: 100%;
}

.my-table th,
.my-table td {
  border-bottom: 0.5px solid rgb(0, 0, 0,0.3);
  padding:5px 10px;
  text-align: left;
  vertical-align: top;
}

.my-table th{
  border-top: 1px solid black;
  height: 30px;
}

.blow-cell {
  font-weight: normal;
  font-weight: lighter;
  color: gray;
  font-size: 14px;
}

.art-pic {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

.stylish-list {
  list-style: none;
  padding: 0;
}

.ccl {
  padding-bottom:100px;
}

/**********************MEDIA QUERY********************/
  /*HEADER - CSS*/
.scroll-to-bottom {
    display: none; /* Hide the 'scroll-to-bottom' link by default */
    text-decoration: none;
    color: var(--text-color);
    display: none; /* Hide the 'scroll-to-bottom' link by default */
    position: absolute; /* Set the link position to absolute */
    top: 50%; /* Position the link vertically in the center */
    left: 50%; /* Position the link horizontally in the center */
    transform: translate(-50%, -50%); /* Adjust the link position relative to its own size */
  }
  /* HEADER*/
  @media (max-width: 980px) {
    .nav {
      display: none; /* Hide all list items */
    }
    .scroll-to-bottom {
      display: block; /* Show the 'scroll-to-bottom' link */
      top: 46%;
    }
    /*
    .scroll-to-bottom:hover .VM-only-underline {
      border-bottom: 1px solid var(--text-color);
    }
    .scroll-to-bottom::after {
      content: "▾";
      margin-right: 5px;
      font-family: monospace;
    }
    */
  }
  /* FOOTER */
  @media (max-width: 980px) {
    .footer-menu, .f-submenu {
    display: block;
    }
    .f-submenu {
      position: static; /* Remove the absolute positioning for the submenu */
    }
    .footer-menu > li { /* Add space between main menu items */
      margin-bottom: 100px;
    }
  }

  /*TABLE*/
@media (max-width: 700px) {
  .my-table {
    font-size: 12px;
  }
}
@media (max-width: 980px) {
  .transition p {
    font-size: calc(16px + 1.5vw);
  }
}