/******************** TOOLS ********************/
.TEST {
  border: 1px solid blue;
}

/******************** BODY ********************/
body, h1 {
  background-color: #CAFFFF;;
  color: #833600;
  margin: 0;
  padding: 0;
  font-weight: 348;
  width: 100%;
  font-family: sans-serif;
}  
body a:not(#articlesp2 a) {
  white-space: nowrap;
}

.right a {
  text-decoration: none;
  color: #833600;
  border-bottom: 1px solid #833600;
}

.right a:hover {
  border-bottom: 1px solid 	rgb(131, 54, 0,0.3);
}


/* HIGHLIGHITNG */
.header-logo img::selection,
.has-submenu::selection,
.has-submenu span::selection,
.submenu a::selection,
.about::selection,
.search a::selection,
#footerlogo img::selection,
img::selection,
br::selection
{
  background-color: transparent;

}
.left h1::selection,
.left p::selection,
.left b::selection,
.f-submenu a::selection,
.footer-bot h2::selection,
.footer-bot a::selection,
.f-has-submenu::selection,
.footer-bot span::selection,
.footer-bot b::selection,
#wordToCopy::selection{
  background-color: #833600;
  color:#CAFFFF;
}

.left span::selection{
  background-color: #CAFFFF;
  color: #833600;
}

.NIGHTCORE
 {
  background-color: black;
  color: white;
}

/********************HEADER********************/
#wrap {    
  height: 110px;
}
.header-content{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
/* HEADER */
header {
  position: fixed;
  justify-content: space-between;
  display: flex;
  align-items: center;
  height: 80px;
  padding: 0 25px;
  font-size: 18px;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
}
/* LOGO */
.logo {
  width: 80px;
  margin-right: 0px;
  margin-left: -15px;
  transition: opacity 0.3s;
  position: absolute;
  top: 46%;
  transform: translateY(-50%);
}
/* NAVIGATION */
.nav {
  list-style-type: none;
  display: flex;
  margin-left: 40px;
}
.nav li {
  display: inline;
  padding: 10px;
  margin: 15px;
  margin-left: 0;
  position: relative;
  transition: color 0.3s ease-out;
}
.nav a {
  text-decoration: none;
  color: var(--text-color);
  display: inline-block; 
  transition: color 0.3s ease-out;
}
.has-submenu::after {
  content: "▾";
  margin-right: 0px;
  font-family: monospace;
  transition: color 0.3s ease-out;
}
.has-submenu.active::after {
  content: "▹";
  margin-right: 0px;
  font-family: monospace;
  transition: color 0.3s ease-out;
}
.about:hover {
  border-bottom: 1px solid #833600;
}
.has-submenu:hover .link-text, .has-submenu.active .link-text {
  border-bottom: 1px solid #833600;
}
.submenu a:hover {
  border-bottom: 1px solid #833600;
}
.submenu {
  display: none;
  margin: 0;
  padding: 0;
  padding-left: 10px;
  padding-right: 33%;
  margin-top: 28px;
  text-align: left;
  height: auto; 
  width: 148px;
  position: absolute;
  background-color: var(--submenu-bg-color);
  left: -0px;
}
.submenu li {
  padding: 0;
  margin: 0;
}
.submenu li a {
  margin-bottom: 8px;
  border-bottom: 1px solid transparent;
}
/* SEARCH*/
.search {
  text-align: right;
}
.search a {
  display: block;
  text-decoration: none;
  color: var(--text-color);
}
:root {
  --text-color: #833600;
  --text-color-scrolled: black;
  --submenu-bg-color: transparent;
  --submenu-bg-color-scrolled: white;
}
.about:hover,
.has-submenu:hover .link-text,
.has-submenu.active .link-text,
.submenu a:hover,
.search a:hover {
  border-bottom: 1px solid var(--text-color);
}

/*transition */
#header, .submenu {
  transition: background-color 0.3s ease-out;
}
.header a, .header span, .about {
  transition: color 0.3s ease-out;
}
#logo1, #logo2 {
  transition: opacity 0.3s ease-out;
}

/********************FOOTER********************/
/* FOOTER */
footer {
  display: block;
  align-items: flex-start;
  padding: 100px 25px;
  font-size: 18px;
  padding-bottom: 80px;
}
#f-logo-nav {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.footer-right-menu {
  justify-content: right;
}
/*LOGO*/
#footerlogo img {
  width: 80px;
  margin-top: -14px; /* move the logo up by 10px */
  margin-left: -15px;
  flex: 1;
}
/* MENU */
.footer-menu {
  list-style: none;
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
}
.footer-menu li {
  position: relative;
  margin: 0;
}
.footer-menu a {
  text-decoration: none;
  color: #833600;
}
/* SUBMENU */
.f-has-submenu:hover .f-submenu { /* fix submenu disappearing issue */
  display: block;
}
.f-submenu li { /* fix submenu alignment issue */
  text-align: left;
}
.f-has-submenu{
  font-weight: bold;
}
.f-submenu {
  list-style: none;
  padding: 0;
  margin-top: 5px;
  position: absolute;
  left: 0;
  top: 100%;
}
.f-submenu li {
  margin: 0;
  white-space: nowrap; /* to display submenus in 1 line*/
}

#f-biglist {
  padding-right: 50px;
}
.f-submenu li:not(:last-child) {
  margin-bottom: 4px;
}
.f-submenu li a:hover {
  border-bottom: 1px solid #833600;
}
.footer-bot {
  margin-top: 150px;
  border-top: 1px solid #833600;
  display: flex;
  align-items: flex-start;
  margin-right: auto;
}
.footer-bot h2 {
  font-size: 18px;
  font-weight: 350;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  margin-top: 5px;
  margin-right: 23%;
}
.footer-bot a {
  text-decoration: none;
  color: #833600;
  margin-top: 5px;
}
.footer-bot a span:hover {
  border-bottom: 1px solid #833600;
}

/******************CONTACT**********************/
.contact {
  padding: 0 25px;
  padding-top: 300px;
  padding-bottom: 50px;
  font-weight: 348;
  font-size: 28px;
  display: flex;
  justify-content: space-between;
}
.contact h1 {
  padding: 0;
  margin: 0;
  font-size: 75px;
  font-weight: 350;
}
/* styles.css */
.left {
  flex: 1;
  padding-right: 100px;
}
.right {
  width: 50%;
}
/* IMG SLIDER */
.image-slider {
  position: relative;
  width: 100%;
  /* Add these lines */
  height: 0;
  padding-bottom: 75%; /* Adjust this percentage based on the aspect ratio of your images */
  overflow: hidden;
}
.image-slider img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0;
  transition: opacity 1s;
}
.image-slider img:first-child {
  opacity: 1;
}


.notif {
  display: none;
  position: absolute;
  background-color: rgb(131, 54, 0) ;
  color: #CAFFFF;
  padding: 6px 8px;
  border-radius: 0px;
  font-size: 14px;
  z-index: 10;
}

/****************** FORM **************/
.form {
  background-color: white;
  padding-bottom: 200px;
}


/**********************MEDIA QUERY**********************/
/*HEADER - CSS*/
.scroll-to-bottom {
  display: none; /* Hide the 'scroll-to-bottom' link by default */
  text-decoration: none;
  color: var(--text-color);
  display: none; /* Hide the 'scroll-to-bottom' link by default */
  position: absolute; /* Set the link position to absolute */
  top: 50%; /* Position the link vertically in the center */
  left: 50%; /* Position the link horizontally in the center */
  transform: translate(-50%, -50%); /* Adjust the link position relative to its own size */
}

/* HEADER*/
@media (max-width: 980px) {
  .nav {
    display: none; /* Hide all list items */
  }
  .scroll-to-bottom {
    display: block; /* Show the 'scroll-to-bottom' link */
    top: 46%;
  }
  /*
  .scroll-to-bottom:hover .VM-only-underline {
    border-bottom: 1px solid var(--text-color);
  }
  .scroll-to-bottom::after {
    content: "▾";
    margin-right: 5px;
    font-family: monospace;
  }
  */
}
/* FOOTER */
@media (max-width: 980px) {
  .footer-menu, .f-submenu {
  display: block;
  }
  .f-submenu {
    position: static; /* Remove the absolute positioning for the submenu */
  }
  .footer-menu > li { /* Add space between main menu items */
    margin-bottom: 100px;
  }
}

/*CONTACT*/
@media (max-width: 980px) {
  .contact {
  display: block;
}
.right {
  width: 100%;
  margin: 0 auto;
  text-align: center;
}
.contact h1 {
  font-size: 64px;
}
.left, .right {
  display: block;
  width: 100%;
  padding-right: 0;
}
.right {
  padding: 50px 0;
}
}
